body {
    background-color: #000; 
    overflow: hidden; 
    position: relative; 
}


.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 3s infinite;
}


.star-wars-intro p {
    color: white; 
    font-size: 24px; 
}
